.pexels-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/2;
    grid-column: 1/4;
    width: 100%;
    margin-top: 2em;
}

.pexels-pagination > button {
    margin: 0 1em;
}

button.prev-next {
    background-color: transparent;
    border: 0px;
}

button.prev-next > i {
    font-size: 2em;
    transition: 250ms;
}

button.prev-next > i:hover {
    opacity: 0.7;
    transition: 250ms;
}

.pexels-images-wrapper {
    grid-column: 1/3;
}