.upload-button-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

img.upload-image {
    max-width: 20em;
    height: auto;
}

.image-uploaded-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2em;
}

.file-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-input-button-label {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 1em;
}

button.choose-image {
    padding: 0!important;
    overflow: hidden;
}

#file {
    display: none;
}

.progress-bar {
    color: rgb(255, 0, 0);
}