$radius-sm : 2px;
$radius-md: 4px;
$radius-lg: 12px;

$light-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.014),
0 0px 5.3px rgba(0, 0, 0, 0.02),
0 0px 10px rgba(0, 0, 0, 0.025),
0 0px 17.9px rgba(0, 0, 0, 0.03),
0 0px 33.4px rgba(0, 0, 0, 0.036),
0 0px 80px rgba(0, 0, 0, 0.05)
;