@keyframes slidein {
    from {
        opacity: 0;
        transform: translateX(-2em)
    }
    to {
        opacity: 1;
        transform: translateX(0em)
    }
}

.slide-in {
    animation-name: slidein;
    animation-duration: 1s;
}

.slide-in-late {
    animation-name: slidein;
    animation-duration: 1s;
    animation-delay: 500ms;
}

@keyframes fadein {
    from {
        opacity: 0;

    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation-name: fadein;
    animation-duration: 1s;
}

.rotate180 {
    transform: rotate(180deg);
    transition: 500ms;
}

.rotate0 {
    transform: rotate(0deg);
    transition: 500ms;
}
